.cart-page {
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-left: 16%;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .cart-items ul {
    list-style: none;
    padding: 0;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .cart-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .cart-item-detail {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cart-item h3 {
    font-size: 16px;
    margin: 0;
  }

  .cart-item p {
    margin: 5px 0;
  }

  .quantity-button {
    padding: 5px 10px;
    margin: 0 5px;
    color: #000;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .quantity-button:disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
  }
  
  .quantity-value {
    font-weight: bold;
  }

  .select-item-checkbox {
    margin-right: 10px;
  }
  
  input[type="number"] {
    width: 50px;
    padding: 5px;
  }
  
  .remove-item-button {
    margin-top: 10px;
    background-color: #dc3545;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .remove-item-button:hover {
    background-color: #c82333;
  }
  
  .cart-item input[type="checkbox"] {
    margin-right: 15px;
  }
  
  .cart-summary {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 20px;
    text-align: right;
  }
  
  .cart-summary h3 {
    margin-bottom: 10px;
  }
  
  .cart-summary p {
    margin: 5px 0;
    font-size: 16px;
  }
  
  .checkout-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
  }
  
  .checkout-button:hover {
    background-color: #388e3c;
  }

  .empty-cart-message {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #555;
  }

.voucher-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}