.category-management {
    margin-left: 16%;
    margin-right: 3%;
  }
  
  .create-category-form {
    margin-bottom: 20px;
  }
  
  .create-category-form input {
    margin: 10px 0;
    padding: 8px;
    width: 200px;
  }
  
  .create-category-form button {
    padding: 10px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .create-category-form button:hover {
    background-color: #45a049;
  }
  
  ul {
    list-style-type: none;
  }
  
  ul li {
    margin: 10px 0;
  }
  