/* Coupon Management Page */
.coupon-management-page {
  padding: 20px;
  background-color: #f9f9f9;
  margin-left: 16%;
}

.coupon-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.coupon-table th, .coupon-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.coupon-table th {
  background-color: #f4f4f4; /* Nền xám nhạt */
  color: #333333; /* Màu chữ đen đậm để dễ nhìn */
  font-weight: bold;
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd;
}


.create-coupon-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.create-coupon-button:hover {
  opacity: 0.8;
}

.delete-btn, .edit-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.delete-btn {
  background-color: #f44336;
  color: white;
}

.edit-btn {
  background-color: #2196F3;
  color: white;
}

.delete-btn:hover, .edit-btn:hover {
  opacity: 0.8;
}

.error {
  color: red;
  font-weight: bold;
}
