.coupon-management-page {
    padding: 20px;
    font-family: Arial, sans-serif;
    margin-left: 16%;
  }
  
  .coupon-management-page h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .create-coupon-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .create-coupon-button:hover {
    background-color: #0056b3;
  }
  
  .coupon-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .coupon-table th,
  .coupon-table td {
    padding: 12px 20px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .coupon-table th {
    background-color: #f4f4f4;
  }
  
  .coupon-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .delete-btn,
  .edit-btn {
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .delete-btn {
    background-color: #e74c3c;
    margin-right: 10px;
  }
  
  .delete-btn:hover {
    background-color: #c0392b;
  }
  
  .edit-btn {
    background-color: #f39c12;
  }
  
  .edit-btn:hover {
    background-color: #e67e22;
  }
  